<% if(typeof error_array != 'undefined') { error_array.forEach(function(val) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= val.error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% }); } %>

