<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="navbar-header">
    <a class="navbar-brand" href="/">Upload Images :)</a>
    </div>
<ul class="nav navbar-tabs">
    <li><a href="/">Home</a></li>
    <li><a href="/see_images">All Images</a></li>
    <li><a href="/del_images">If You want To Delete Image</a></li>
    </ul>
</nav>